

<p style="font-size: 50px;">confiteria works!</p><br><br>

 
<!-- <section>
<h1>confiteria works!</h1><br>
    <ol>
        <li>
            <p> Página de confitería con vista de productos y compra de productos en línea
                para reclamar en cine, o para entrega domicilio (solo para tarjeta Anabelle)
                bajo las siguientees condiciones: </p><br>
                <ul>
                    <li>Combo Zombie – 21.000. Hamburguesa + Sorbete + Paquete de ojo</li>
                    <li>Combo Vampiro – 25.000. Crispetas + Dedos de frankestein +
                        Murcielagos + Sorbete</li>
                    <li>Combo Adams – 40.000 (para dos). Crispetas + Sorbete (2) + Faraones+ Hamburguesa + Sandwich</li>

                  <li> El tamaño de la bebida es único, 32 oz, al igual que las crispetas, 140g o mediana</li>
                </ul>
            </p>
        </li>
    </ol>
</section> -->





