

<p style="font-size: 50px;">tyba-empresa works!</p><br><br>


<!-- 
<section>
    <h1>tyba-empresa works!</h1><br>
        <ol>
            <li>
                <p> 
                    Tyba SAS es una compañía de emprendedores comprometdos con el avance de proyectos
                    innovadores y poderosos en Tecnologías de la Información. Como parte de su portafolio,
                    han preparado el proyecto PESADILLA FILMS; una página temátca de streaming de
                    películas de género del terror para compra de boletas oﬀ-line y compra online .....etc   completar</p><br>
                    <ul>
                        <li>Página (one-page) de la empresa de desarrollo   ......</li>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, amet ipsam. Quaerat inventore ipsam similique dolores totam ullam, officiis nobis odio, laudantium nostrum delectus adipisci architecto earum aspernatur blanditiis a.</li>
                      
                    </ul>
                </p>
            </li>
        </ol>
    </section> -->
