<div class="form-inline movie-search-container">
  <input #searchBox type="search" class="form-control" placeholder="Search" aria-label="Search" (input)="search(searchBox.value)" />


  <ul class="movie-search-result">
    <li *ngFor="let movie of movies$ | async">
      <a routerLink="/movie/{{movie._id}}" class="clearfix">
        <img class="movie-search-result-image" src="{{ movie.cover }}" alt="{{ movie.titulo }}" />
        <span class="movie-search-result-info">
          <strong>{{ movie.cover }}</strong>
          <em>{{ movie.protagonistas }}</em>
        </span>
      </a>
    </li>
  </ul>
</div>
