
        
        
        
        
        <form #formularioPeliculas="ngForm" >

                <input class="datos" type="text" placeholder="Nombre Pelicula" name="titulo"
                #titulo="ngModel" [(ngModel)]= "pelicula.titulo">

                <input class="datos" type="text" placeholder="Director" name="Director"
                #director="ngModel" [(ngModel)]= "pelicula.director">

                <input class="datos" type="text" placeholder="Sinopsis" name="sinopsis"
                #sinopsis="ngModel" [(ngModel)] = "pelicula.sinopsis">

                <input class="datos" type="text" placeholder="Categoria" name="categoria"
                #categoria="ngModel" [(ngModel)] ="pelicula.categoria">

                <input class="datos" type="text" placeholder="Protagonista" name="protagonista"
                #protagonista="ngModel" [(ngModel)] = "pelicula.protagonista">
              
                <input class="datos" type="text"placeholder="Duracion" name="tiempo"
                #tiempo="ngModel" [(ngModel)]="pelicula.tiempo">
              
                <input type="file" class="datos">

                <!-- <input class="datos" type="text" placeholder="tipo de documento" name="tipo"
                #tipo="ngModel" [(ngModel)] = "pelicula.tipo"> -->

                <button id="botonAgregar" type="submit" (click)="nuevaPelicula()">Pelicula Nueva</button>
                <button id="botonDocumento" type="submit" (click)="subirDocumento()">Pelicula Documento</button>
                <button id="botonActualizar" type="submit" (click)="actualizarPelicula()">Actualizar Pelicula</button>

        </form> 



