
<!------------- Inicio de sesión admin. Páginas de administrador con opciones para: 
    Mostrar usuarios, Desactivar usuarios, Agregar película, Mostrar películas, Actualizar películas y Desactivar películas ---------------------------->


            <div class="container">
                <div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
                    <ul class="nav nav-tabs justify-content-end">
                        <li class="nav-item">
                        <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">Usuarios</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="true">Película </a>				   	
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">

<!----------------------------------------------------------Formulario ------------------------------------------------>
                        <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
                            <div class="card">
                                <div class="card-header">

                                    <h4 style="color: black;"> <i class="fa fa-users" style="color: red;" ></i> Usuarios</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="userList" class="table table-bordered table-hover table-striped">
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Apellido</th>
                                                <th scope="col">Username</th>
                                                <th scope="col">E-mail</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Cristian</td>
                                                <td>Ruiz</td>
                                                <td>c.r.username</td>
                                                <td>c.r.username@blog.com</td>
                                                <td>
                                                    <a href="#"><i style="color: rgb(233, 134, 20);" class="fas fa-edit"></i></a> | <a href="#"><i style="color: red;" class="fas fa-user-times"></i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
            
                                </div>
                            </div>
                        </div>

<!----------------------- Formulario subir peliculas ( cover, wallpaper y trailer ) ------------->

                        <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h4 style="color: black;"><i class="fa fa-film" style="color: red;" ></i> Registrar Pelicula </h4>
                                </div>
                                <div class="card-body">
                                    <form class="form" role="form" autocomplete="off" style="color: black;">


                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Categoria</label>
                                            <div class="col-lg-9">

                                                <!-- categoria de la pelicula:Asesinos, Monstruos, Paranormal y Psicológico  -->

                                                <input class="form-control" type="text" id="nombre" placeholder="" name="nombreCancion" list="categorias"
                                                #nombreCancion="ngModel" [(ngModel)]="cancionRegistrada.nombreCancion" />
                                        
                                                                                <datalist id="categorias">
                                                                                <option value="Asesinos">
                                                                                <option value="Monstruos">
                                                                                <option value="Paranormal">
                                                                                <option value="Psicológico">
                                                                                </datalist>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Titulo
                                                </label>
                                            <div class="col-lg-9">
                                                <input class="form-control"  type="text" id="album" placeholder="Titulo" name="albumCancion"
                                                #albumCancion="ngModel" [(ngModel)]="cancionRegistrada.albumCancion" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Sinopsis</label>
                                            <div class="col-lg-9">
                                                <input class="form-control"  type="text" id="emocion" placeholder="Sinopsis" name="emocionCancion"
                                                #emocionCancion="ngModel" [(ngModel)]="cancionRegistrada.emocionCancion" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Director</label>
                                            <div class="col-lg-9">
                                                <input class="form-control"  type="text" id="genero" placeholder="Director" name="generoCancion" 
                                                #generoCancion="ngModel" [(ngModel)]="cancionRegistrada.generoCancion" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Protagonista</label>
                                            <div class="col-lg-9">
                                               
                                                <input class="form-control"  type="text" id="artista" placeholder="Protagonista" name="artistaCancion" 
                                                #artistaCancion="ngModel" [(ngModel)]="cancionRegistrada.artistaCancion" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Duración</label>
                                            <div class="col-lg-9">
                                               
                                                <input class="form-control"  type="text" id="anio" placeholder="HH:MM:SS" name="anioCancion"
                                                #anioCancion="ngModel" [(ngModel)]="cancionRegistrada.anioCancion"  />
                                            </div>
                                        </div>


                                        <div class="centrar">
                                            <h6 style="color: black;">Seleccionar archivos:</h6>
                                            
                                                          <label class="sub1">  <input   class="sub"   type="file" placeholder="Subir Cancion" (change)="subirArchivo($event)" /> <i class="fa fa-cloud-upload"></i> Trailer 
                                                          </label>&nbsp;
                                                          
                                                       
                                                          <label class="sub1">   <input   class="sub"   type="file" placeholder="Subir Imagen Pósters" (change)="subirArchivoImg($event)" /> <i class="fa fa-cloud-upload"></i> Pósters 
                                                        </label>&nbsp;
                                            
                                            
                                                        <label class="sub1">  <input   class="sub"   type="file" placeholder="Subir Película completa" (change)="subirArchivo($event)" /> <i class="fa fa-cloud-upload"></i> Película
                                                        </label>&nbsp;
                                                        
                                                     
                                                        <label class="sub1">   <input   class="sub"   type="file" placeholder="Subir Imagen Wallpaper " (change)="subirArchivoImg($event)" /> <i class="fa fa-cloud-upload"></i> Wallpaper 
                                                      </label>&nbsp;
                                            
                                                    </div>
                                                          



                                        <button  class="submit"  type="submit" >Subir archivos</button>


                                    </form>
                                </div>
                            </div>
                        </div>






                        
                    </div>
                </div>
            </div>  <br> <br>