<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./parts/head.ejs %>
</head>
<body>
  <% include ./parts/header.ejs %>
  <div class="panel panel-primary" style="margin-left:10%;margin-right:10%;">
<div class="panel-heading">
  <h3>Bienvenido al chat terrorifico</h3>
  <div > <ul id="hell0" class="list-unstyled">

  </ul> </div>
</div></div>
<hr><br>
  <main>
    <div class="container-fluid">
      <input type="hidden" id="user" value="<%= user.username %>"/>
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2>Opciones del chat</h2></div>

            <div class="panel-body" id="scrl1">
              <h4 class="boxF">Para chatear en grupo da click a grupo para enviar inbox da click sobre cada usuario</h4>
              <ul id="list" ></ul>
            </div>
            
            <div class="panel-footer">
              <p id="typing"  class="btn btn-danger btn-block btn-lg"></p>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 id="frndName">Sala de chat</h4>
            </div>
            <div class="panel-body" id="scrl2">
              <p id="loading">Cargando..... </p>
              <p id="noChat">No hay mas chats para desplegar</p>
              <p id="initMsg">!!...Click en usuario o grupo para inciar el chat...!!</p>
              <ul id="messages"></ul>
            </div>
            <div class="panel-footer">
              <form id="chatForm" action="">
                <input id="myMsg" class="input-box-send" autocomplete="off" placeholder="Escriba aqui.." />
                <button id="sendBtn" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-send"></span> <b>Enviar</b></button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>

  <% include ./parts/footer.ejs %>

  <script src="/js/scriptForChat.js"></script>
</body>
</html>
