<div *ngFor="let img of logo" class="bannerUno">
    <img id="img"  width="1440"  [src] = "img"  />
</div>


<div class="tarjetas"><h2>¿DE QUE SE TRATA?</h2>
<p class="explicacion">Se trata de un programa de lealtad creado para recompensar tu preferencia
    por ser un cliente frecuente y valioso, puedes obtener grandes beneficios que te harán 
    vivir al máximo la experiencia del cine dentro y fuera de nuestras salas, tendras estos beneficios al
     adquirir <br> alguna  de nuestras trajetas Annabelle o Chucky las cuales  te 
    permitiran obtener excelentes descuentos, facilidad a la hora de hacer  tus pedidos 
en linea y una serie de privilegios que solo tienen nuestros clientes  preferenciales como tú. <br><br>
Adquiere tu Tarjeta Annabelle o Chucky por internet desde nuestra pagina web,  en las confiterias de
 cualquiera de nuestros cinemas o via telefonica 
            y haz parte de la familia mas terrorifica.
</p>
</div>

<section class="hero-banner magic-ball" class="membresias">
    <div class="container">

      <div class="row align-items-center text-center " id="empresa">
        <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
          <h3>TARJETA ANNABELLE</h3>
          <p>La tarjeta Annabelle es para los reyes y reinas de lo maligno, es una tarjeta Plus como nuestros clientes
              y tiene los mayores beneficios de Pesadilla Films, su costo es de $50.000 y la renovacion es semestral,
              al adquirir esta tarjeta tendras los siguientes beneficios:
              </p>
              <li>50% de descuento en todos los articulos de confiteria.</li>
                <li>Domicilio para articulos de confiteria. </li>
                <li>Puedes ver las peliculas que esten en cartelera via online.</li>
                <li>Compra de boleteria via online.</li>
                <li>Boletas 2x1 el dia de tu cumpleaños</li>
        
        </div>
        <div class="imgGrupo" class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
            <div *ngFor="let img of anaRoja"  >
                <img id="img" width="470"  [src] = "img"  />
            </div>
        </div>
      </div>
    </div>
  </section>
<br><br>

  <section class="hero-banner magic-ball" class="membresias">
    <div class="container">

      <div class="row align-items-center text-center " id="empresa">
        <div class="imgGrupo" class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
            <div *ngFor="let img of chuAzul"  >
                <img id="img2" width="480"  [src] = "img"  />
            </div>
        </div>
        <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
          <h3>TARJETA CHUCKY</h3>
          <p>La tarjeta Chucky fue cuidadosamente diseña para esas personas que parecen inocentes pero en su mente
              siempre tienen un plan macabro, con esta tarjeta podras acceder a excelentes descuentos, su costo 
              es de $20.000 y la renovacion es semestral, al adquirir 
              la tarjeta Chucky tendras los siguientes beneficios:</p>
              <li>25% de descuento en todos los articulos de confiteria.</li>
              <li>Compra de boleteria via online.</li>
              <li>Boletas 2x1 el dia de tu cumpleaños</li>

        </div>
       
      </div>
    </div>
  </section>
<br><br><br>
  <div class="tarjetas"><h2>¿COMO LO PUEDES HACER?</h2></div> <br><br>
  <div class="row" id="pasosCompra">
    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div *ngFor="let img of primero ">
                <img id="img" [src] = "img" width="300" />
            </div>
            <h5 class="primero">1. Llena tus datos, por internet, <br> telefono o de manera presencial.</h5>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div *ngFor="let img of segundo">
          <img id="img3" width="400"  [src] = "img"  />
      </div>
      <h5>2. Elije tu tarjeta de preferencia <br> Annabelle o Chucky.</h5>

  </div>  
<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
<div *ngFor="let img of tercero">
  <img id="img" width="250"  [src] = "img"  />
</div>
<h5>3. Que comience el juego.</h5>

</div> 
  </div>




<br><br><br><br><br>