.header
  background-color: #000

.navbar
  .navbar-brand
    display: inline-block
    width: 48px
    height: 48px
    background: url(../assets/logo.png) no-repeat
    text-indent: -999em
    margin-right: 30px

  .navbar-nav
    .nav-link
      // text-transform: uppercase
      padding-left: 1rem
      padding-right: 1rem
      
     

.footer
  font-size: 16px
  background: #8b0101
  

#header2 
    height: 25vh
    background: linear-gradient(rgba(255, 255, 255,0.8), rgba(0,0,0,0.4))
    background-position: center
    background-size: cover
    background-attachment: fixed




// Paleta de colores:

// #eaeaea    blanco
//   #8b0101   tono rojo claro
//     #580000  rojo oscuro
//       #180000  rojo negro
//         #000000  negro






