  
<body>
 

    <div class="container">
            <div class="modal-container">
                <div class="banner-container">
                    
                    <div class="info-banner">
                        <h3 style="color: silver;text-shadow: 2px 2px 2px rgb(0, 0, 0),2px 2px 2px rgb(0, 0, 0) ;">Si ya tienes cuenta inicia sesión. </h3><br><br>
    
                        <div class="img-btn"  > 
    
                          <span class="btn btn-danger" routerLink="/login"><i class="fa fa-user" ></i>&nbsp; &nbsp;Iniciar Sesión</span>
                          
                        </div><br><br>
    
                        <div class="img-btn"  > 
            
                          <span class="btn btn-success" routerLink="/"><i class="fa fa-home" ></i>&nbsp; &nbsp;Home</span>
                        </div>
    
                        <br><br>

    
                    </div>
                </div>
                <div class="form-container">
                    
                    <div class="welcome">
                        <h2 style="color: #8b0101;text-align: center;text-shadow: 2px 2px 3px rgb(0, 0, 0);">¡Siniestros días!</h2>
                        <h2 style="text-align: justify;">Regístrate ahora e intenta no perder la cabeza.</h2>
                        <div class="img-container">
                            <div *ngFor="let img of imagen5"   ><img class="logo" src = "assets/img/logo.png" /></div>
                          </div>
                    </div>
                    <div class="info-form">
                        <p style="text-align: justify;">Ingresa correctamente los datos y accede a nuestro sistema de entretenimiento, o muere en el intento. </p>
                    </div>
                    <form #formularioRegistro="ngForm" (ngSubmit)="registrarUsuario()">
                        <div class="input-div one">
                            <div class="icono">
                                <i class="fas fa-user"></i>
                            </div>
                            <div>
                
                                <input type="text" placeholder="Nombre" name="nombre"
                                #nombre="ngModel" [(ngModel)]="usuarioRegistro.nombre" />

                            </div>
                        </div>
                        <div class="input-div two">
                            <div class="icono">
                                <i class="fas fa-user"></i>
                            </div>
                            <div>

                                <input type="text" placeholder="Apellido" name="apellido"
                        #apellido="ngModel" [(ngModel)]="usuarioRegistro.apellido" />
                            
                            </div>
                        </div>

                        <div class="input-div two">
                            <div class="icono">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div>

                                <input type="text" placeholder="Correo" name="correo"
                        #correo="ngModel" [(ngModel)]="usuarioRegistro.correo" />
                            
                            </div>
                        </div>


                        <div class="input-div two">
                            <div class="icono">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div>

                                <input type="password" placeholder="Contraseña" name="contrasena"
                        #contrasena="ngModel" [(ngModel)]="usuarioRegistro.contrasena" />
                            
                            </div>
                        </div>


                        <div class="info-form"  >
                            <p  style="margin-left: 60px;" >Elije el tipo de membresía <i class="fa fa-sort-desc"></i>
                            </p>
                        </div>
                        <br>

                        
                        <input class="form-control" type="text" id="categoria" placeholder="" name="categoria" list="membresias"
                                                #membresia="ngModel" [(ngModel)]="usuarioRegistro.membresia" />
                                        
                                                    <datalist id="membresias">
                                                    <option value="Annabelle (platino)-$50.000 semestral.">
                                                    <option  value="Chucky (dorado)-$20.000 semestral.">
                                                    </datalist>
                        <div>
                        <table> <a routerLink ="/membresias" target="_blank"> 
                                                        <th>
                        <img class="logo" src = "assets/ana.png" width="60" height="150"/>
                    </th>
                    <th>
                        <img class="logo" src = "assets/chu.png" width="60" height="150"/>
                        </th>
                        </a>
                        </table>   
                        </div>

                        <div class="info-form"  >
                            <p  style="margin-left: 80px;" >Métodos de pago. </p>
                        </div>
                        <br>

                        <div class="info-form">
                            <p style="margin-left: 110px;">Visa</p>
                        </div>
    
                        <input type="checkbox" name="vehicle1" value="Bike" style="margin-left: 120px;">
                        <img class="logo" src = "https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Former_Visa_%28company%29_logo.svg/3072px-Former_Visa_%28company%29_logo.svg.png" style="margin-right: 50px; max-width: 50px;"/>
                        <br>

                        <div class="info-form">
                            <p style="margin-left: 100px;">MasterCard</p>
                        </div>

                       
                        <input type="checkbox" name="vehicle1" value="Bike" style="margin-left: 120px;">
                        <img class="logo" src = "https://www.penfinancial.com/SharedContent/images/1aMastercard.jpg"  style="margin-right: 50px;"/>
                        <br>

                        <div class="info-form">
                            <p style="margin-left: 110px;">PayPal</p>
                        </div>
                        
                        

                       
                        <input type="checkbox" name="vehicle1" value="Bike" style="margin-left: 120px;">
                        <img class="logo" src = "https://www.paypalobjects.com/webstatic/en_US/mktg/pages/stories/pp_h_rgb.jpg" width="10" height="75" style="margin-right: 50px;"/>
                        <br><br><br>



<!-- 
                        <a href="#">¿Olvidaste la contraseña?</a> -->
                        <input type="submit" class="btn" value="Registrarse">
                      
                        <div class="info-form">
                          <p style="text-align: center;">Ingresa correctamente los datos y accede a nuestro sistema.</p>
                      </div>
                      
                    </form>
                   
                </div>
            </div>
        </div>
    
       
    
    
      </body>
    
    
    

    
    
    